.detail-container {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  gap: 40px;
  padding: 20px;
}

.detail-container img {
  width: 400px;
  object-fit: contain;
}

.detail-info {
  flex: 1;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px 0;
}


@media (max-width: 768px) {
  .detail-container {
    flex-direction: column;
    align-items: center;
  }

  .detail-container img {
    width: 100%;
  }
}
